* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*--------------- GLOBALES -----------------------*/
body {
    font-family: 'Roboto Mono', monospace;
    font-size: 1rem;
    /*background-image: url(../img/FondoFoto1.jpg);
    background-position: center;
    background-size: cover;*/
}

img {
    max-width: 100%;
    border-radius: 0.5rem;
}

.abuelos {
    max-width: 1800px;
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    border-radius: 0.5rem;
}

.centrado {
    text-align: center;
}


/*---------------- HEADER ------------------------*/


header {
    margin-top: 1rem;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.cajaLogo {
    display: flex;
    align-items: center;
}
.logo {
    width: 60%;
    margin-left: 1%;
    font-size: 4rem;
    display: flex;
    align-items: center;
}
.imgDerecha {
    width: 40%;
}
.imgDerecha img {
    height: 4rem;
}

.bienes {
    font-style: oblique;
    color: orange;
}

.raices {
    font-weight: bold;
    color: lime;
}

@media(max-width:800px) {
    h3 {
        font-size: 2rem;
    }
    h4 {
        font-size: 1.75rem;
    }
    h5 {
        font-size: 1rem;
    }

    .logo {
        font-size: 2rem;
    }

}

@media(max-width:350px) {
    body {
        font-size: 0.6rem;
    }

    h3 {
        font-size: 1rem;
    }
    h4 {
        font-size: 0.8rem;
    }
    h5 {
        font-size: 0.5rem;
    }

    .logo {
        font-size: 1rem;
    }

    header {
        justify-content: center;
        align-items: center;
    }

    .logo {
        width: 100%;
    }

}